@model IEnumerable<Auction>

@*<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th class="textright">Current bid</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var auction in Model)
                {
    <tr id="@auction.Id-tr" class="align-middle">
        <td>@auction.ItemName</td>
        <td id="@auction.Id-bidtext" class="bid">@auction.CurrentBid</td>
        <td class="bid-form-td">
            <input id="@auction.Id-input" class="bid-input" type="number" value="@(auction.CurrentBid + 1)" />
            <button class="btn btn-primary" type="button" onclick="submitBid(@auction.Id)">Bid</button>
        </td>
    </tr>}
            </tbody>
        </table>
    </div>
</div>*@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container">
    <div id="userInfo" class="row">
        <label for="userName">Please enter your user name</label>
        <input type="text" class="form-control" id="userName" name="userName" autocomplete="off"/>
        <button type="button" class="btn btn-block" onclick="SetUserName();">Join</button>
    </div>

    <div id="messageArea" class="row" style="display: none;">
        <div>Joined as : <b><span id="username">Not Set</span></b></div>
        <hr/>
        <div class="row">
            <div class="col-6">
                <ul id="messageList"></ul>
            </div>
        </div>
        <hr/>
        <input type="text" id="message" autocomplete="off"/>
        <input type="button" id="sendButton" value="Send Message"/>

    </div>
</div>

@section scripts {
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/homeindex.js" asp-append-version="true"></script> 
    
    <script>

        "use strict"

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/auctionHub")
            .build();

        var userName = "";

        function SetUserName() {
            // check the user name
            var userNameInput = document.getElementById("userName").value;
            if (userNameInput === "") {
                alert("please enter your user name");
                return;
            }

            userName = userNameInput;

            // hide userName dib and show message panel

            document.getElementById("userInfo").style.display = 'none';
            document.getElementById("messageArea").style.display = 'block';
            document.getElementById("username").innerText = userNameInput; 
        }

    </script>
}
